unit-1_project/.ipynb_checkpoints/
unit-2_project/.ipynb_checkpoints/imdb-checkpoint.ipynb
unit-4_project/data/test.csv
unit-4_project/data/train.csv
unit-4_project/.ipynb_checkpoints/Exploratory works-checkpoint.ipynb
unit-4_project/.ipynb_checkpoints/Project Notebook-checkpoint.ipynb
unit-4_project/.DS_Store
unit-3_project/.ipynb_checkpoints/linreg-knn-project-checkpoint.ipynb
