<!DOCTYPE html>
<html>
<title>Trips drop off Prediction App</title>
<body>

<form action = "/gettrips" method="POST">
	<p> Select Dropoff Location :<input name="dropoff" type ="text" value="-73.95_40.78" /> </p>
	<p> Select Year:<input name="yr" type ="text" value="2016" /> </p>
	<p> Select Month:<input name="mn" type ="text" value="6" /> </p>
	<p> Select Day:<input name="dy" type ="text" value="1" /> </p>
	<p> Select Hour:<input name="hr" type ="text" value="0" /> </p>
	<p> Select Minute: <input name="min" type ="text" value="0" /> </p>
	<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
